html{
  background-color: #ffffff;
}
body {
  margin: 0px;
  user-select: none;
  -moz-user-select: none;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bookmarks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 44%;
}
.square {
  padding: 0.4em;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  width: 100%;
  height: 20em;
  margin: 0em .5em;
  text-align: center;
}
.square-header {
  font-size: 1.1rem;
  font-weight: 600;
  color: #414141;
  margin: 0em 0em .35em 0em;
}
.square-body {
  vertical-align: top;
  align-items: center;
}
a {
  text-decoration: none;
  color: #acacac;
  display: block;
  margin: .5em 0em;
  font-weight:500;
}
a:hover {
  color: #712f97;
  text-decoration: underline;
  font-size: large;
}
